li a {
    color: green;
}
body {
    background: white url("images/background.png") no-repeat;
    padding: 10px;
}

.favorite_order{
    float: left;
}
.date_order{
    float: left;
}
.order{
    float:left;
}

